@import 'tailwindcss';
@import 'tw-animate-css';

/* @custom-variant dark (&:is(.dark *)); */

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-border: var(--border);
}

:root {
	--background: #ffffff;
	--foreground: #000000;
	--primary: #ff4500;
	--primary-foreground: #ffffff;
	--border: #e5e5e5;
}

.dark {
	--background: #000000;
	--foreground: #ffffff;
	--primary: #ffffff;
	--primary-foreground: #000000;
	--border: #404040;
}

html,
body {
	height: 100%;
}

#root {
	height: 100%;
}
